/* body {
    background-color: brown !important;
} */

/* .type--h5 {
    font-size: clamp(1em,6.953125vw,4.25em) !important;
} */

/* .j83agx80 {
    background-color: #ef47c3;
}
.hybvsw6c {
    background-color: #ef47c3;
} */